.content{

    text-align: center;
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 25%;
    color: white;
}
body{
    background-image: url("img1.jpg");
    background-size: cover;
    
}

.green{
    color:green;
    
}